# azure ai development
openai
azure-cognitiveservices-speech
azure-ai-ml
azure-identity
pydub
sounddevice
python-docx
PyPDF2
numpy 
python-dotenv

# more specialized packages ai azure services -> https://azure.github.io/azure-sdk/releases/latest/all/python.html
