# app front-end
streamlit
pyaudio

# core azure ai development
openai
azure-cognitiveservices-speech
azure-ai-ml
azure-identity
pydub

# more specialized packages ai azure services -> https://azure.github.io/azure-sdk/releases/latest/all/python.html
